* {
    outline: 1px solid red;
}

.app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-header {
    flex: 0 0 100px;
}

.app-content {
    flex: 1 0 auto;
    padding: 20px;
}

.app-footer {
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}